*.synctex.gz
*.aux
*.log
Chapters/*.aux
Appendices/*.aux
Chapters/*.log
Appendices/*.log
main.blg
main.lot
main.lof
main.toc
main-blx.bib
main.out
main.run.xml
example.bib.bak
experiments.*
plot_roc_002.png
confidence.svg

